In [62]:
import pandas as pd
import matplotlib

In [2]:
data = pd.read_csv("employee_retention_data.csv")

In [7]:
data.head()

,employee_id,company_id,dept,seniority,salary,join_date,quit_date
0,13021.0,7,customer_service,28,89000.0,2014-03-24,2015-10-30
1,825355.0,7,marketing,20,183000.0,2013-04-29,2014-04-04
2,927315.0,4,marketing,14,101000.0,2014-10-13,NaN
3,662910.0,7,customer_service,20,115000.0,2012-05-14,2013-06-07
4,256971.0,2,data_science,23,276000.0,2011-10-17,2014-08-22

In [55]:
def parse_date(data):
    join = data.join_date
    quit = data.quit_date
    join_date = join.split("-")
    
    if quit != quit:
        quit = "2015-12-13"
    quit_date = quit.split("-")
    
    year = int(quit_date[0]) - int(join_date[0])
    month = int(quit_date[1]) - int(join_date[1])
    day = int(quit_date[2]) - int(join_date[2])
    
    return year*365 + month*30 + day

In [56]:
data['is_quit'] = data.quit_date.notnull()

In [57]:
data["stay_length"] = data.apply(parse_date, axis = 1)

In [58]:
data.head()

,employee_id,company_id,dept,seniority,salary,join_date,quit_date,is_quit,stay_length
0,13021.0,7,customer_service,28,89000.0,2014-03-24,2015-10-30,True,581
1,825355.0,7,marketing,20,183000.0,2013-04-29,2014-04-04,True,340
2,927315.0,4,marketing,14,101000.0,2014-10-13,NaN,False,425
3,662910.0,7,customer_service,20,115000.0,2012-05-14,2013-06-07,True,388
4,256971.0,2,data_science,23,276000.0,2011-10-17,2014-08-22,True,1040

In [66]:
data.plot(x = "salary", y = "stay_length", style = 'o')

ImportError: matplotlib is required for plotting.